[Unit]
Description=RGB Controller
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /opt/rgb_controller/app.py
Restart=always
TimeoutSec=5

[Install]
Wantedby=multi-user.target
